 
 
 
 /*Dark Blue (testimonials background): hsl(219, 30%, 18%) */
section{
background-color: rgb(2, 2, 20);
text-align: center;
text-emphasis-color: white;

}

h1, h2, p {
    text-align: center;
    color:white;
  }

div.promisepage{
background-color:rgb(2, 2, 20) ;
border: 1px solid rgb(2, 2, 20);
text-emphasis-color: rgb(59, 3, 3);
     
}



h1.soul {
font-style: italic;
text-decoration-color: white;
color:white;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }












